<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <link rel="stylesheet" href="./src/scss/style.css">
</head>
<body>
    <div id="app">
        <div class="input">
            <div class="input__wrap">
                <textarea id="input__text" class="input__text" type="text" v-model="input_text"></textarea>
            </div>
            <div class="input__wrap" :style="{ background: templateText }">
                <button v-on:click="showText()">Show text</button>
                <p id="input__p" class="input__resault" v-if="show_input_text">{{ templateText }}
                </p>
            </div>
        </div>
        <div class="mouse">
            <div class="mouse__wrap">
                <button v-on:click.right.prevent="showMouse(rightMouse)" v-on:click="showMouse(leftMouse)">Left or
                    Right</button>
                <p>{{whatMouse}}</p>
            </div>
            <div class="mouse__wrap">
                <button v-on:click='showTime()'>What time is it now</button>
                <p v-if="show_time">{{formatTime}}</p>
            </div>
        </div>  
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./src/js/script.js"></script>
</body>

</html>